body{
    background-image: url("OIP.webp");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form{
    display: flex;
    flex-direction: column;
    background-color: rgba(141, 207, 223, 0.936);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(199, 9, 9, 0.1);
}

input{
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-size: 14px;
    background: transparent;
    border: 2px solid #1c0404;
}

input[type="submit"],
input[type="reset"]{
    background-color: #ebf0eb;
    color: rgb(7, 1, 1);
    border: none;
}

input[type="submit"]:hover,
input[type="reset"]:hover{
    background-color: #b2cbb3;
}